{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Gitprof | {{ title }}</title>
</head>
<body>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox"/>
            <div class="slider round"></div>
        </label>
        <em>
            <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" class="theme-icon" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
            </svg>
        </em>
    </div>
    <div class="container">
        {% include 'home/search.html' %}
        {% if message == "Not Found" %}
            Profile not found.
        {% else %}
            <section class="profile">
                <div class="user-details">
                    <div class="user-profile-picture-container">
                        <img src="{{ user.avatar_url }}" alt="" class="user-profile-picture">
                    </div>
                    <div class="user-info">
                        <div class="heading">
                            {% if user.name %}
                                {{ user.name }}
                            {% else %}
                                No name.
                            {% endif %}
                        </div>
                        <div class="subheading">
                            @{{ user.login }}
                        </div>
                        <br>
                        <div>
                            {% if user.bio %}
                                {{ user.bio }}
                            {% else %}
                                No bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem magnam nostrum! Aliquam animi aperiam cupiditate, deserunt ea earum ipsa nam, nisi quisquam reiciendis repellat sed similique tempore unde voluptatibus!
                            {% endif %}
                        </div>
                        <div>
                            {% if user.blog %}
                                <a href="{{ user.blog }}">{{ user.blog }}</a>
                            {% else %}
                                No blog.
                            {% endif %}
                        </div>
                    </div>
                    <div class="user-info">
                        <svg xmlns="http://www.w3.org/2000/svg" style="height:1.1rem" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        {{ user.location }}
                    </div>
                </div>
                <div class="profile-details">
                    <div class="profile-details-card">
                        <svg class="profile-details-card-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#8B5CF6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                        <div class="profile-details-card-details">
                            <div class="heading">{{ user.public_repos }}</div>
                            Repositories
                        </div>
                    </div>
                    <div class="profile-details-card">
                        <svg class="profile-details-card-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#F472B6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
                        </svg>
                        <div class="profile-details-card-details">
                            <div class="heading">{{ user.public_gists }}</div>
                            Gists
                        </div>
                    </div>
                    <div class="profile-details-card">
                        <svg class="profile-details-card-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#FCD34D">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                        <div class="profile-details-card-details">
                            <div class="heading">{{ user.followers }}</div>
                            Followers
                        </div>
                    </div>
                    <div class="profile-details-card">
                        <svg class="profile-details-card-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#34D399">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                        </svg>
                        <div class="profile-details-card-details">
                            <div class="heading">{{ user.following }}</div>
                            Following
                        </div>
                    </div>
                </div>



            </section>
        {% endif %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>